header{
    height: 85vh;
    padding-top:17rem;
    overflow: hidden;
    margin-top: 5%;
}

.header_container{
    text-align: center;
    height: 100%;
    position:relative;
}

.header_container h1{
    font-size: 70px;
}

/* ===cta=== */
.cta{
    margin-top:5%;
    display: flex;
    gap:1.2rem;
    justify-content: center;
    font-size: 20px;
}

.Header__Socials {
    display: flex;
    gap:0.8rem;
    justify-content: center;
    margin-top: 2%;
    font-size: 200%;
}

.Header__Socials a{
    color: rgb(74, 74, 74);
}