#footer{
    background:#d4d4d4;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.line1 a{
    color: var(--color-bg);
}
.Footer__Socials a{
    color: var(--color-bg);  
    display: inline-block;
    gap:100%;
    justify-content: center;
    font-size: 200%;
}
.line1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}
