.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading svg {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
  }
  